@media (min-width: 1200px) {
    #menu {
        .navbar {
            .btn-navbar {
                background-image: none;
                background-color: transparent;
                border-width: 0px;
                box-shadow: none;
                width: 100%;
                float: left;
                text-shadow: none;
                color: @color-one;
                padding-left: 0px;
                padding-right: 0px;
                margin-left: 0px;
                margin-right: 0px;
                padding-top: 15px;
                padding-bottom: 15px;
                .icon-bar {
                    background-color: transparent;
                    height: 0px;
                    width: 0px;
                    box-shadow: none;
                }
                &.collapsed {
                    color: @color-two;
                    &:after {
                        font-family: FontAwesome;
                        content: '\f107';
                        float: right;
                        font-size: @baseFontSize + 2;
                        margin-top: -2px;
                    }
                    &:before {
                        content: 'Menu';
                        text-transform: uppercase;
                        float: left;
                    }
                }
                &:after {
                    font-family: FontAwesome;
                    content: '\f106';
                    float: right;
                    font-size: @baseFontSize + 2;
                    margin-top: -2px;
                }
                &:before {
                    content: 'Menu';
                    text-transform: uppercase;
                    float: left;
                }
                &:hover, &:focus {
                    color: @color-one;
                }
            }
        }
    }
    .navbar {
        .btn-navbar {
            background-image: none;
            background-color: transparent;
            border-width: 0px;
            box-shadow: none;
            .icon-bar {
                background-color: @color-three;
                height: 3px;
                width: 24px;
                box-shadow: none;
            }
            &:hover, &:focus {
                .icon-bar {
                    background-color: @color-one;
                }
            }
        }
        .navbar-inner {
            background-color: @color-five;
            .nav-collapse {
                .dropdown-menu {
                    background-color: @color-two;
                    margin-bottom: 20px;
                    a {
                        &:hover, &:focus {
                            background-color: @color-one;
                        }
                        border-radius: 0;
                        -webkit-border-radius: 0;
                    }
                }
            }
        }
    }
    .navbar {
        &.navbar-inverse {
            .btn-navbar {
                background-image: none;
                background-color: transparent;
                border-width: 0px;
                box-shadow: none;
                .icon-bar {
                    background-color: @color-five;
                    height: 3px;
                    width: 24px;
                    box-shadow: none;
                }
                &:hover, &:focus {
                    .icon-bar {
                        background-color: @color-one;
                    }
                }
            }
            .navbar-inner {
                .nav-collapse {
                    .dropdown-menu {
                        background-color: @color-two;
                        margin-bottom: 20px;
                        a {
                            &:hover, &:focus {
                                background-color: @color-one;
                            }
                            border-radius: 0;
                            -webkit-border-radius: 0;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 979px) and (min-width: 768px) {
    #header {
        #top {
            margin-top: 20px;
        }
    }
    #menu {
        .navbar {
            .btn-navbar {
                background-image: none;
                background-color: transparent;
                border-width: 0px;
                box-shadow: none;
                width: 100%;
                float: left;
                text-shadow: none;
                color: @color-one;
                padding-left: 0px;
                padding-right: 0px;
                margin-left: 0px;
                margin-right: 0px;
                padding-top: 15px;
                padding-bottom: 15px;
                .icon-bar {
                    background-color: transparent;
                    height: 0px;
                    width: 0px;
                    box-shadow: none;
                }
                &.collapsed {
                    color: @color-two;
                    &:after {
                        font-family: FontAwesome;
                        content: '\f107';
                        float: right;
                        font-size: @baseFontSize + 2;
                        margin-top: -2px;
                    }
                    &:before {
                        content: 'Menu';
                        text-transform: uppercase;
                        float: left;
                    }
                }
                &:after {
                    font-family: FontAwesome;
                    content: '\f106';
                    float: right;
                    font-size: @baseFontSize + 2;
                    margin-top: -2px;
                }
                &:before {
                    content: 'Menu';
                    text-transform: uppercase;
                    float: left;
                }
                &:hover, &:focus {
                    color: @color-one;
                }
            }
        }
    }
    .contact {
        .contact-form {
            .form-actions {
                padding-left: 0px;
            }
        }
    }
    .navbar {
        .btn-navbar {
            background-image: none;
            background-color: transparent;
            border-width: 0px;
            box-shadow: none;
            .icon-bar {
                background-color: @color-three;
                height: 3px;
                width: 24px;
                box-shadow: none;
            }
            &:hover, &:focus {
                .icon-bar {
                    background-color: @color-one;
                }
            }
        }
        .navbar-inner {
            background-color: @color-five;
            .nav {
                li {
                    &.active {
                        &:after {
                            display: none;
                        }
                    }
                }
                > li {
                    &:hover, &:focus {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
            .nav-collapse {
                .dropdown-menu {
                    background-color: @color-two;
                    margin-bottom: 20px;
                    a {
                        &:hover, &:focus {
                            background-color: @color-one;
                        }
                        border-radius: 0;
                        -webkit-border-radius: 0;
                    }
                }
            }
        }
    }
    .navbar {
        &.navbar-inverse {
            .btn-navbar {
                background-image: none;
                background-color: transparent;
                border-width: 0px;
                box-shadow: none;
                .icon-bar {
                    background-color: @color-five;
                    height: 3px;
                    width: 24px;
                    box-shadow: none;
                }
                &:hover, &:focus {
                    .icon-bar {
                        background-color: @color-one;
                    }
                }
            }
            .navbar-inner {
                .nav-collapse {
                    .dropdown-menu {
                        background-color: @color-two;
                        margin-bottom: 20px;
                        a {
                            &:hover, &:focus {
                                background-color: @color-one;
                            }
                            border-radius: 0;
                            -webkit-border-radius: 0;
                        }
                    }
                }
            }
        }
    }
    .full-image {
        margin-bottom: 20px;
    }
    #main-content {
        &.full-image-position {
            #main {
                padding-left: 0px;
                padding-top: 0px;
                margin-top: 0px !important;
            }
            #sidebar1 {
                padding-top: 0px;
                border-right: none;
            }
            #sidebar2 {
                padding-top: 0px;
                border-left: none;
            }
        }
    }
    .nav-tabs {
        > li {
            &:last-child {
                > a {
                    border-bottom: 1px solid @tableBorder;
                }
            }
        }
    }
}
@media (max-width: 979px) {
    #header {
        #top {
            margin-top: 20px;
        }
    }
    #menu {
        .navbar {
            .btn-navbar {
                background-image: none;
                background-color: transparent;
                border-width: 0px;
                box-shadow: none;
                width: 100%;
                float: left;
                text-shadow: none;
                color: @color-one;
                padding-left: 0px;
                padding-right: 0px;
                margin-left: 0px;
                margin-right: 0px;
                padding-top: 15px;
                padding-bottom: 15px;
                .icon-bar {
                    background-color: transparent;
                    height: 0px;
                    width: 0px;
                    box-shadow: none;
                }
                &.collapsed {
                    color: @color-two;
                    &:after {
                        font-family: FontAwesome;
                        content: '\f107';
                        float: right;
                        font-size: @baseFontSize + 2;
                        margin-top: -2px;
                    }
                    &:before {
                        content: 'Menu';
                        text-transform: uppercase;
                        float: left;
                    }
                }
                &:after {
                    font-family: FontAwesome;
                    content: '\f106';
                    float: right;
                    font-size: @baseFontSize + 2;
                    margin-top: -2px;
                }
                &:before {
                    content: 'Menu';
                    text-transform: uppercase;
                    float: left;
                }
                &:hover, &:focus {
                    color: @color-one;
                }
            }
        }
    }
    .contact {
        .contact-form {
            .form-actions {
                padding-left: 0px;
            }
        }
    }
    .navbar {
        .btn-navbar {
            background-image: none;
            background-color: transparent;
            border-width: 0px;
            box-shadow: none;
            .icon-bar {
                background-color: @color-three;
                height: 3px;
                width: 24px;
                box-shadow: none;
            }
            &:hover, &:focus {
                .icon-bar {
                    background-color: @color-one;
                }
            }
        }
        .navbar-inner {
            background-color: @color-five;
            .nav {
                li {
                    &.active {
                        &:after {
                            display: none;
                        }
                    }
                }
                > li {
                    &:hover, &:focus {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
            .nav-collapse {
                .dropdown-menu {
                    background-color: @color-two;
                    margin-bottom: 20px;
                    a {
                        &:hover, &:focus {
                            background-color: @color-one;
                        }
                        border-radius: 0;
                        -webkit-border-radius: 0;
                    }
                }
            }
        }
    }
    .navbar {
        &.navbar-inverse {
            .btn-navbar {
                background-image: none;
                background-color: transparent;
                border-width: 0px;
                box-shadow: none;
                .icon-bar {
                    background-color: @color-five;
                    height: 3px;
                    width: 24px;
                    box-shadow: none;
                }
                &:hover, &:focus {
                    .icon-bar {
                        background-color: @color-one;
                    }
                }
            }
            .navbar-inner {
                .nav-collapse {
                    .dropdown-menu {
                        background-color: @color-two;
                        margin-bottom: 20px;
                        a {
                            &:hover, &:focus {
                                background-color: @color-one;
                            }
                            border-radius: 0;
                            -webkit-border-radius: 0;
                        }
                    }
                }
            }
        }
    }
    .full-image {
        margin-bottom: 20px;
    }
    #main-content {
        &.full-image-position {
            #main {
                padding-left: 0px;
                padding-top: 0px;
                margin-top: 0px !important;
            }
            #sidebar1 {
                padding-top: 0px;
                border-right: none;
            }
            #sidebar2 {
                padding-top: 0px;
                border-left: none;
            }
        }
    }
    .nav-tabs {
        > li {
            &:last-child {
                > a {
                    border-bottom: 1px solid @tableBorder;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .total-menu-wrapper {
        position: absolute;
        .total-menu-container {
            .menu-items {
                display: none;
            }
            .submenu-items {
                width: 100%;
                background-color: @color-two;
                .wrapper-submenu-items {
                    padding-left: 0;
                    margin-top: 75px;
                    margin-bottom: 40px;
                    .submenu {
                        >li {
                            margin-bottom: 0;
                            a {
                                color: @color-five;
                            }
                        }
                    }
                    .total-menu-inner {
                        position: relative;
                        bottom: auto;
                    }
                }
            }
        }
    }
    .moduletable_ktotalmenu {
        h3 {
            display: none;
        }
        .menu {
            &.nav-list {
                > li {
                    > a {
                        font-size: @baseFontSize + 6;
                        display: block;
                        text-shadow: none;
                        font-family: @serifFontFamily;
                        color: @color-five;
                        text-transform: uppercase;
                        margin-bottom: 15px;
                        &:hover, &:focus {
                            background-color: transparent;
                            color: @color-one;
                        }
                    }
                    &.deeper {
                        > a {
                            .caret {
                                display: none;
                            }
                            &:after {
                                content: '\f107';
                                font-family: FontAwesome;
                                margin-left: 10px;
                            }
                        }
                    }
                    .submenu {
                        margin-bottom: 15px;
                        margin-left: 0;
                        margin-right: 0;
                        background-color: @color-one;
                        li {
                            a {
                                color: @color-five;
                                padding: 10px 10px 10px 15px;
                                font-size: @baseFontSize + 2;
                            }
                        }
                    }
                }
            }
        }
    }
    #header {
        #top {
            margin-top: 20px;
        }
    }
    #menu {
        .navbar {
            .btn-navbar {
                background-image: none;
                background-color: transparent;
                border-width: 0px;
                box-shadow: none;
                width: 100%;
                float: left;
                text-shadow: none;
                color: @color-one;
                padding-left: 0px;
                padding-right: 0px;
                margin-left: 0px;
                margin-right: 0px;
                padding-top: 15px;
                padding-bottom: 15px;
                .icon-bar {
                    background-color: transparent;
                    height: 0px;
                    width: 0px;
                    box-shadow: none;
                }
                &.collapsed {
                    color: @color-two;
                    &:after {
                        font-family: FontAwesome;
                        content: '\f107';
                        float: right;
                        font-size: @baseFontSize + 2;
                        margin-top: -2px;
                    }
                    &:before {
                        content: 'Menu';
                        text-transform: uppercase;
                        float: left;
                    }
                }
                &:after {
                    font-family: FontAwesome;
                    content: '\f106';
                    float: right;
                    font-size: @baseFontSize + 2;
                    margin-top: -2px;
                }
                &:before {
                    content: 'Menu';
                    text-transform: uppercase;
                    float: left;
                }
                &:hover, &:focus {
                    color: @color-one;
                }
            }
        }
    }
    .contact {
        .contact-form {
            .form-actions {
                padding-left: 0px;
            }
        }
    }
    .navbar {
        .btn-navbar {
            background-image: none;
            background-color: transparent;
            border-width: 0px;
            box-shadow: none;
            .icon-bar {
                background-color: @color-three;
                height: 3px;
                width: 24px;
                box-shadow: none;
            }
            &:hover, &:focus {
                .icon-bar {
                    background-color: @color-one;
                }
            }
        }
        .navbar-inner {
            background-color: @color-five;
            .nav {
                background-color: @color-two;
                padding-left: 20px;
                padding-right: 20px;
                margin-bottom: 10px;
                li {
                    margin-right: 0;
                    &.active {
                        text-shadow: none;
                        &:after {
                            display: none;
                        }
                        &.dropdown {
                            a {
                                color: @color-five;
                            }
                        }
                    }
                    a {
                        color: @color-five;
                    }
                    &.deeper {
                        a {
                            &:hover, &:focus {
                                a {
                                    background-color: transparent;
                                }
                            }
                            &:after {
                                color: @color-five;
                            }
                        }
                        &:hover, &:focus {
                            a {
                                color: @color-five;
                                &:after {
                                    color: @color-five;
                                }
                            }
                        }
                    }
                }
                > li {
                    &:hover, &:focus {
                        &:after {
                            display: none;
                        }
                    }
                    > a {
                        text-shadow: none;
                    }
                }
            }
            .nav-collapse {
                .dropdown-menu {
                    background-color: @color-two;
                    margin-bottom: 20px;
                    a {
                        &:hover, &:focus {
                            background-color: @color-one;
                        }
                        border-radius: 0;
                        -webkit-border-radius: 0;
                    }
                    li + li {
                        a {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    .navbar {
        &.navbar-inverse {
            .btn-navbar {
                background-image: none;
                background-color: transparent;
                border-width: 0px;
                box-shadow: none;
                .icon-bar {
                    background-color: @color-five;
                    height: 3px;
                    width: 24px;
                    box-shadow: none;
                }
                &:hover, &:focus {
                    .icon-bar {
                        background-color: @color-one;
                    }
                }
            }
            .navbar-inner {
                .nav-collapse {
                    .dropdown-menu {
                        background-color: @color-two;
                        margin-bottom: 20px;
                        a {
                            &:hover, &:focus {
                                background-color: @color-one;
                            }
                            border-radius: 0;
                            -webkit-border-radius: 0;
                        }
                    }
                }
            }
        }
    }
    .full-image {
        margin-bottom: 20px;
    }
    #main-content {
        &.full-image-position {
            #main {
                padding-left: 0px;
                padding-top: 0px;
                margin-top: 0px !important;
            }
            #sidebar1 {
                padding-top: 0px;
                border-right: none;
            }
            #sidebar2 {
                padding-top: 0px;
                border-left: none;
            }
        }
    }
    .nav-tabs {
        > li {
            &:last-child {
                > a {
                    border-bottom: 1px solid @tableBorder;
                }
            }
        }
    }
    .jss-slider {
        .jss-image-container {
            &.jss-descpos-top {
                .jss-title-description {
                    &.jss-alignment-center {
                        top: 0;
                        bottom: 0;
                        .jss-title {
                            p, div {
                                font-size: @baseFontSize + 5;
                            }
                        }
                    }
                }
            }
        }
    }
}
